#respuesta {
    font-family: 'Catamaran', sans-serif;
}

#respuesta02 {
    font-family: 'Catamaran', sans-serif;
}

.titulo {
    font-family: 'Lobster', sans-serif;
}

#button {
    font-family: 'Catamaran', sans-serif;
}